@import "Button.css"; /* Import other css files using a string */
@import "CommandTextField.css";
@import "ListView.css";
@import "Menu.css";
@import "Popup.css";
@import "Scrollbar.css";
@import "StatusBar.css";
@import "Tags.css";

* {
    -fx-main-bg-color: #22272d;
    -fx-secondary-bg-color: #2d333b;
    -fx-light-bg-color: #444c56;
    -fx-highlight-color: #81a4cd;
    -fx-light-text-color: #ffff99;
}

.background {
    -fx-background-color: -fx-main-bg-color;
    background-color: -fx-main-bg-color; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: -fx-main-bg-color;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Open Sans Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.tooltip-text {
    -fx-text-fill: white;
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: -fx-main-bg-color;
    -fx-control-inner-background: -fx-main-bg-color;
    -fx-background-color: -fx-main-bg-color;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Open Sans Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: -fx-main-bg-color;
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: -fx-main-bg-color;
}

.cell_big_label {
    /* For student card cell header */
    -fx-font-family: "Courier";
    -fx-font-size: 16px;
    -fx-text-fill: #ffffff;
    -fx-padding: 0 0 10 0;
}

.cell_small_label {
    -fx-font-family: "Open Sans Regular";
    -fx-font-size: 13px;
    -fx-text-fill: #ffffff;
}

.stack-pane {
     -fx-background-color: -fx-main-bg-color;
}

.pane-with-border {
     -fx-background-color: -fx-main-bg-color;
     -fx-border-color: derive(-fx-main-bg-color, 10%);
     -fx-border-top-width: 1px;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Open Sans Light";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.grid-pane {
    -fx-background-color: derive(-fx-main-bg-color, 30%);
    -fx-border-color: derive(-fx-main-bg-color, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(-fx-main-bg-color, 30%);
}

.dialog-pane {
    -fx-background-color: -fx-main-bg-color;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: -fx-main-bg-color;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(-fx-main-bg-color, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

#filterField, #studentListPanel, #studentWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, -fx-main-bg-color, transparent, -fx-main-bg-color;
    -fx-background-radius: 0;
}
