* {
    -fx-background-color: -fx-main-bg-color;
    -fx-text-fill: -fx-highlight-color;
}

#copyButton, #helpMessage, #description {
    -fx-font-family: "Open Sans";
    -fx-text-fill: -fx-light-text-color;
}

#featureTable {
    -fx-font-size: 14;
}

#copyButton {
    -fx-background-color: -fx-highlight-color;
    -fx-text-fill: -fx-main-bg-color;
}

#copyButton:hover {
    -fx-background-color: -fx-light-text-color;
}

/*
@@author AllardQuek-reused
Reused with modifications from https://stackoverflow.com/questions/51265872/
*/
.table-view:focused .table-row-cell:focused {
    -fx-border-color: derive(-fx-main-bg-color, 20%);
    -fx-background-insets: 0 0 0 0;
    -fx-table-cell-border-color: transparent;
}
