* {
    -fx-background-color: -fx-main-bg-color;
    -fx-text-fill: -fx-highlight-color;
}

#copyButton, #helpMessage {
    -fx-font-family: "Open Sans";
    -fx-text-fill: red;
}

#description {
    -fx-text-fill: white;
}
