---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.icon {
    height: 21px;
    width: 21px
}

// https://github.com/primer/css/blob/main/src/base/kbd.scss
kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas,monospace;
  line-height: 10px;
  color: rgb(36, 41, 47);
  vertical-align: middle;
  background-color: rgb(246, 248, 250);
  border: solid 1px rgba(175, 184, 193, 0.2);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(175, 184, 193, 0.2);
}

.caption {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 14px;
}

#student-param-table {
  font-size: small;
}

#lesson-param-table {
  font-size: small;
}
