#AllTaskListPanelHeader {
    -fx-background-color: black;
    -fx-text-fill: lime green;
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

.tree-view .tree-cell {
    -fx-control-inner-background: transparent;
}
