
.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #ffffff;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: black;
}

.overdue-card {
    -fx-background-color: #FFB4B4 !important;
    -fx-background-radius: 20;
    -fx-background-insets: 3, 0, 3, 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);

}

.overdue-visit {
    -fx-text-fill: #FF0000 !important;
}
