
.error {
    -fx-text-fill: #ff9e9e !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #f5f6fa;
}

.barcode_label {
    -fx-font-family: "Open Sans Semibold";
    -fx-font-size: 15px;
    -fx-text-fill: #4d4d4d !important;
    -fx-graphic: url("../images/barcode.png");
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}
