@font-face {
    font-family: "Open Sans";
    src: url("/fonts/open-sans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans SemiBold";
    src: url("/fonts/open-sans/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: "Open Sans Light";
    src: url("/fonts/open-sans/OpenSans-Light.ttf");
}

@font-face {
    font-family: "Open Sans Bold Italic";
    src: url("/fonts/open-sans/OpenSans-BoldItalic.ttf");
}

@font-face {
    font-family: "Open Sans Extra Bold";
    src: url("/fonts/open-sans/OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family: "Open Sans Extra Bold Italic";
    src: url("/fonts/open-sans/OpenSans-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: "Open Sans Italic";
    src: url("/fonts/open-sans/OpenSans-Italic.ttf");
}

@font-face {
    font-family: "Open Sans Light Italic";
    src: url("/fonts/open-sans/OpenSans-LightItalic.ttf");
}

@font-face {
    font-family: "Open Sans SemiBold Italic";
    src: url("/fonts/open-sans/OpenSans-SemiBoldItalic.ttf");
}

@font-face {
    font-family: "RNS Sanz Black";
    src: url("/fonts.rns-sanz/RNSSanz-Black.ttf");
}

@font-face {
    font-family: "RNS Sanz Bold";
    src: url("/fonts.rns-sanz/RNSSanz-Bold.ttf");
}

@font-face {
    font-family: "RNS Sanz Extra Bold";
    src: url("/fonts.rns-sanz/RNSSanz-ExtraBold.ttf");
}

@font-face {
    font-family: "RNS Sanz Light";
    src: url("/fonts.rns-sanz/RNSSanz-Light.ttf");
}

@font-face {
    font-family: "RNS Sanz Medium";
    src: url("/fonts.rns-sanz/RNSSanz-Medium.ttf");
}

@font-face {
    font-family: "RNS Sanz Normal";
    src: url("/fonts.rns-sanz/RNSSanz-Normal.ttf");
}

@font-face {
    font-family: "RNS Sanz SemiBold";
    src: url("/fonts.rns-sanz/RNSSanz-SemiBold.ttf");
}
