#generalNote {
    -fx-control-inner-background: #000000;
    -fx-text-fill: #FFFFFF;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-font-size: 20px;
}

