#openButton {
    -fx-font-family: "Lato";
    -fx-background-color: #61c1ed;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
}

#helpMessage {
    -fx-font-family: "Lato";
}
