.root {
     -fx-background-color: #121212;
     -fx-font-family: "Open Sans";
}

#name, #telegram, #github {
    -fx-background-color: #121212;
    -fx-border-color: #121212 #121212 white #121212;
    -fx-text-fill: white;
}

#submit {
    -fx-text-fill: white;
    -fx-background-color: #414141;
}

#errorMessage {
    -fx-fill: red;
}

#welcomeMessage {
    -fx-font-size: 24px;
    -fx-fill: white;
}
