.grid-pane {
    -fx-background-color: derive(#dddddd, 30%);
    -fx-border-color: derive(#dddddd, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#dddddd, 30%);
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #353535;
    -fx-opacity: 0.9;
}

.combo-box .list-cell {
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-family: "Open Sans Regular";
    -fx-padding: 3 0 2 7;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: white;
}
