/* VARIABLE DEFINITIONS */
* {
    -fx-base1: #533747;
    -fx-base2: #5f506b;
    -fx-base3: #6a6b83;
    -fx-base4: #76949f;
    -fx-base5: #86bbbd;
    -fx-font-color: #ffffff;
    -fx-font-color-bright: #ffffff;
    -fx-menu-color: #263238;
    -fx-menu-color-highlighted: #455a64;
    -fx-menu-font-color: #ffffff;
    -fx-menu-font-color-highlighted: #ffffff;
}

.background {
    -fx-background-color: derive(-fx-base1, 0%);
    background-color: derive(
        -fx-base1,
        -10%
    ); /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: -fx-font-color;
    -fx-opacity: 0.9;
}

.label-view-header {
    -fx-font-size: 12pt;
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: -fx-font-color;
    -fx-opacity: 1;
}

.label-view {
    -fx-font-size: 9pt;
    -fx-font-family: "Open Sans Regular";
    -fx-text-fill: -fx-font-color;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Open Sans Light";
    -fx-text-fill: -fx-font-color-bright;
    -fx-opacity: 1;
}

.text-area,
.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Open Sans Semibold";
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.list-view .scroll-bar {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .content {
    -fx-background-color: transparent;
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: derive(-fx-base1, -10%);
    -fx-control-inner-background: derive(-fx-base1, -10%);
    -fx-background-color: derive(-fx-base1, -10%);
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header,
.table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Open Sans Light";
    -fx-text-fill: -fx-font-color;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(-fx-base1, 0%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(-fx-base1, 0%);
}

.list-view {
    -fx-padding: 0 0 0 8;
    -fx-background-color: derive(-fx-base1, -10%);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.list-cell {
    -fx-border-radius: 10;
    -fx-background-radius: 15;
    -fx-border-color: derive(-fx-base1, -10%);
    -fx-border-width: 5;
}

.list-cell:filled:even {
    -fx-background-color: derive(-fx-base4, -10%);
}

.list-cell:filled:odd {
    -fx-background-color: derive(-fx-base3, -10%);
}

.list-cell:filled:even:hover {
    -fx-background-color: derive(-fx-base4, 0%);
}

.list-cell:filled:odd:hover {
    -fx-background-color: derive(-fx-base3, 0%);
}

.list-cell:filled:even:selected {
    -fx-background-color: derive(-fx-base4, -15%);
}

.list-cell:filled:odd:selected {
    -fx-background-color: derive(-fx-base3, -15%);
}

.list-cell:empty {
    -fx-background-color: transparent;
}

.list-cell .label {
    -fx-text-fill: -fx-font-color;
}

.cell_big_label,
.card_big_label {
    -fx-font-family: "Open Sans Semibold";
    -fx-font-size: 16px;
}

.cell_small_label,
.card_small_label {
    -fx-font-family: "Open Sans Regular";
    -fx-font-size: 13px;
}

.stack-pane {
    -fx-background-color: derive(-fx-base1, 0%);
}

.pane-with-border {
    -fx-background-color: derive(-fx-base1, 0%);
}

.status-bar {
    -fx-background-color: derive(-fx-base1, -10%);
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Open Sans Light";
    -fx-font-size: 13pt;
    -fx-text-fill: -fx-font-color-bright;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Open Sans Light";
    -fx-text-fill: -fx-font-color-bright;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(-fx-base1, -10%);
    -fx-border-color: derive(-fx-base1, 5%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: -fx-font-color;
}

.grid-pane {
    -fx-background-color: derive(-fx-base1, -10%);
    -fx-border-color: derive(-fx-base1, -10%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(-fx-base1, -10%);
}

.context-menu {
    -fx-background-color: derive(-fx-base1, 10%);
}

.context-menu .label {
    -fx-text-fill: -fx-font-color;
}

/* MENU BAR + Top-level MENU BUTTONS */
/*** The menu bar itself ***/
.menu-bar {
    -fx-background-color: -fx-menu-color;
}

/*** Top-level menu itself (not selected / hover) ***/
.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-menu-color;
}

/*** Top-level menu's label (not selected / hovered) ***/
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-menu-font-color;
}

/*** Top-level menu's label (disabled) ***/
.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-menu-color-highlighted;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-menu-font-color-highlighted;
}

/* MENU ITEM (children of a MENU BUTTON) */
/*** The item itself (not hovered / focused) ***/
.menu-item {
    -fx-background-color: -fx-menu-color;
}

/*** The item's label (not hovered / focused) ***/
.menu-item .label {
    -fx-text-fill: -fx-menu-font-color;
}

/*** The item's label (disabled) ***/
.menu-item .label:disabled {
    -fx-opacity: 1;
}

/*** The item itself (hovered / focused) ***/
.menu-item:focused,
.menu-item:hovered {
    -fx-background-color: -fx-menu-color-highlighted;
}

/*** The item's label (hovered / focused) ***/
.menu-item:focused .label,
.menu-item:hovered .label {
    -fx-text-fill: -fx-menu-font-color-highlighted;
}

/* CONTEXT MENU */
/*** The context menu that contains a menu's menu items ***/
.context-menu {
    -fx-background-color: -fx-menu-color;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Open Sans Light";
    -fx-text-fill: -fx-menu-font-color;
    -fx-opacity: 0.9;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: derive(-fx-base1, -10%);
    -fx-font-family: "Open Sans Regular";
    -fx-font-size: 11pt;
    -fx-text-fill: cyan;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: derive(-fx-base1, 10%);
}

.button:pressed,
.button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: derive(-fx-base1, -10%);
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled,
.button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: derive(-fx-base1, -10%);
    -fx-text-fill: -fx-font-color;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: derive(-fx-base1, -10%);
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: derive(-fx-base1, -10%);
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: derive(-fx-base1, -10%);
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-font-color;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(-fx-base1, 5%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: -fx-font-color;
}

.scroll-bar {
    -fx-background-color: derive(-fx-base1, 0%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(-fx-base1, 10%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#clientCardPane {
    -fx-background-color: derive(-fx-base3, -10%);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

#filterField,
#clientListPanel,
#clientWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#commandTextField {
    -fx-font-family: "Open Sans Light";
    -fx-font-size: 13pt;
    -fx-background-color: transparent, derive(-fx-base1, -10%), transparent,
        derive(-fx-base1, -10%);
    -fx-text-fill: -fx-font-color-bright;
    -fx-prompt-text-fill: #d8d8d8;
}

#resultDisplay .content {
    -fx-background-color: transparent, derive(-fx-base1, -10%), transparent,
        derive(-fx-base1, -10%);
    -fx-background-radius: 10;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-cursor: hand;
    -fx-text-fill: derive(-fx-base1, -30%);
    -fx-background-color: -fx-base5;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#tags .label:hover {
    -fx-text-fill: derive(-fx-base5, 30%);
    -fx-background-color: derive(-fx-base1, -30%);
}
